:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.toolbar {
  border-radius: 8px;
  display: flex;
  gap: 4px;
}

.toolbar button {
  border: none;
  cursor: pointer;
  padding: 8px;
  border-radius: 8px;
}

.toolbar button:hover {
  background-color: #e6e6fa;
}